<% if @group.next_event %>
  <section class="section">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Next Event
        </p>
      </header>
      <div class="card-content">
        <p class="title"><%= @group.next_event.title %></p>
        <p><%= time_tag @group.next_event.starts_at %></p>
      </div>
    </div>
  </section>
<% end %>

<section class="section">
  <div class="content">
    <h2 class="title">About Us</h2>
    <p><%= @group.description %></p>
  </div>
</section>
