<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <div class="is-inline-block is-pulled-left">
          <h1 class="title"><%= @group.name %></h1>
        </div>

        <div class="is-inline-block is-pulled-right">
          <%= link_to 'Speak Here!', new_group_talk_path(@group), class: ['button', 'is-primary', 'is-inverted', 'level-item'] %>
        </div>
      </div>
    </div>
  </div>
</section>
