<aside class="column is-one-quarter menu">
  <p class="menu-label"></p>
  <ul class="menu-list">
    <li><%= link_to "About", group_path(@group) %></li>
  </ul>

  <% if @group.administered_by?(current_user) %>
    <p class="menu-label">
      Administration Tools
    </p>

    <ul class="menu-list">
      <li><%= link_to "Edit Details", edit_group_path(@group) %></li>
    </ul>
  <% end %>
</aside>
